{% extends "layout.html" %}
{% block body %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static',filename='assets/img/contact-bg.jpg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>{{params['contact_me']}}</h1>
                            <span class="subheading">{{params['contact_sub_heading']}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>{{params['contact_html_main_content']}}</p>
                        <div class="my-5">
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="/contact" method="POST">
                                <div class="form-floating">
                                    <input class="form-control" id="name" name='name' type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                    <label for="name">{{params['name']}}</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">{{params['name_required']}}</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="email" type="email" name="email" placeholder="Enter your email..." data-sb-validations="required,email" />
                                    <label for="email">{{params['email_address']}}</label>
                                    <div class="invalid-feedback" data-sb-feedback="email:required">{{params['email_required']}}</div>
                                    <div class="invalid-feedback" data-sb-feedback="email:email">{{params['email_not_valid']}}</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="phone" name="phone" type="tel" placeholder="Enter your phone number..." data-sb-validations="required" />
                                    <label for="phone">{{params['phone_no']}}</label>
                                    <div class="invalid-feedback" data-sb-feedback="phone:required">{{params['phone_num_required']}}</div>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" id="message" placeholder="Enter your message here..."
                                    name="message" style="height: 12rem" data-sb-validations="required"></textarea>
                                    <label for="message">Message</label>
                                    <div class="invalid-feedback" data-sb-feedback="message:required">{{params['message_required']}}</div>
                                </div>
                                <br />
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">{{params['form_submission']}}</div>
                                        {{params['activate_signup']}}
                                        <br />
                                        <a href="https://startbootstrap.com/solution/contact-forms">{{params['contact_form_link']}}</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">{{params['error_sending_message']}}</div></div>
                                <!-- Submit Button-->
                                <button class="btn btn-primary" id="submitButton" type="submit">{{params['send_contact']}}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}